body{
    margin: 0;
}
header{
    /* background:#03a9f4; */
    background: #F1C27D;
    text-align: center;
}
.logo{
    color:#fff;
    font-family: 'Sansita Swashed', cursive;
    font-size:40px;
}
header input{
    font-size: 20px;
    margin: 20px 0;
}